<!DOCTYPE html>
<html>
<head>
    <title>Example Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('front.static', filename='dist/production.min.css') }}" />
    <style>
        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div style="max-width: 800px; margin: auto; padding:40px;">
        <h1><a href="/">Example blog</a></h1>
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{ url_for('front.static', filename='dist/production.min.js') }}"></script>
</body>
</html>