<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello World</title>
        <!-- Bootstrap CSS -->
        <link href="{{ url_for('admin.static', filename='plugins/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('admin.static', filename='css/themes/custom/medium-frontend.css') }}" rel="stylesheet">
        <style type="text/css">
        .post{
            max-width: 600px;
            margin-right: auto;
            margin-left: auto;
        }
        p {
            margin: 20px 0 20px;
        }
        </style>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
            <div class="container">
                <div class="page-header">
                    <h1>Blog Example</h1>
                </div>
                <!-- Use element -->
                <google-map lat="37.790" long="-122.390"></google-map>
                {% for post in posts %}
                    <div class="post">
                        <h3>{{post.title}}</h3><small>{{post.date}} | {{post.author}}</small>
                        <p>{{post.text | safe}}</p>
                    </div>
                {% endfor %}
        </div> <!-- /container -->
        
        <!-- jQuery -->
        <script src="{{ url_for('admin.static', filename='plugins/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap JavaScript -->
        <script src="{{ url_for('admin.static', filename='plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>