{% extends "base.html"%}
{% block css %}
    <link href="{{ url_for('admin.static', filename='plugins/select2-bootstrap-css/select2-bootstrap.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('admin.static', filename='plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('admin.static', filename='plugins/medium-editor/dist/css/medium-editor.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('admin.static', filename='css/themes/custom/medium-theme.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('admin.static', filename='css/themes/custom/medium-editor-insert-plugin.css') }}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block content%}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 hidden" id="wizard">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>{{_("Add")}} <span class="semi-bold">{{_("Post")}}</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#" class="config" data-toggle="modal" data-target="#helpModal"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <div class="row">    
                        <!-- FORM -->
                        <form id="addPostForm" method="POST" onsubmit="return copyContent()">
                            <!-- Main wrapper -->
                            <div id="rootwizard" class="col-md-12">
                          <!-- Step List -->
                                <div class="form-wizard-steps ">
                                    <ul class="wizard-steps">
                                        <li class="" data-target="#step1"> 
                                            <a href="#tab1" data-toggle="tab"> 
                                                <span class="step">1</span> 
                                                <span class="title">{{_("Help")}}</span>
                                            </a>
                                        </li>
                                        <li class="" data-target="#step2"> 
                                            <a href="#tab2" data-toggle="tab"> 
                                                <span class="step">2</span> 
                                                <span class="title">{{_("Categorize")}}</span>
                                            </a>
                                        </li>
                                        <li class="" data-target="#step3"> 
                                            <a href="#tab3" data-toggle="tab"> 
                                                <span class="step">3</span> 
                                                <span class="title">{{_("Write")}}</span>
                                            </a>
                                        </li>
                                        <li class="" data-target="#step4"> 
                                            <a href="#tab4" data-toggle="tab"> 
                                                <span class="step">4</span> 
                                                <span class="title">{{_("Publish")}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <br>
                                <div class="tab-content transparent">
                                    <!-- Step -->
                                    <div class="tab-pane" id="tab1">
                                        <h3>{{_("Some tips")}} <span class="semi-bold">{{_("for writing a blog post")}}</span></h3>
                                        <p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li>
                                                            <h4>{{_("Tell your story")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Share how you feel")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("You’ll never please everyone")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Write about things that matter to you")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Inform, inspire and interact")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Put aside time to read others blog")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("When an idea strikes, write it down")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Understand who is reading your blog")}}</h4>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li>
                                                            <h4>{{_("Do it at least, once a week")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Put aside time to create quality content it doesn’t just appear")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Ask your readers questions")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Brainstorm regularly")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Not every post needs to go viral")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Write, Write, Write")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("And <strong>Yes !</strong> everyone writes good content if it wants")}}</h4>
                                                        </li>
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </p>
                                    </div>
                                    <!-- Step -->
                                    <div class="tab-pane" id="tab2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>{{_("Post")}} <span class="semi-bold">{{_("Categories")}}</span></h3><br>
                                                <p>{{_("It's important to try to keep your content organized. Categorizing posts helps you to keep <b>your stuff organized.</b> Also helps search engines to understand the content of your website.")}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>{{_("Select")}} <span class="semi-bold">{{_("Categories")}}</span></h3><br>
                                                <p>{{_("<span class='text-info'>Search for existing categories or write a new one and <b>press enter</b></span>. Please try <b>not to duplicate</b> categories.")}}</p>
                                                <br>
                                                <input id="multi" name="categories" style="width:100%" placeholder="{{_("Search or Create a category..")}}">
                                            </div> 
                                        </div>
                                    </div>
                                    <!-- Step -->
                                    <div class="tab-pane" id="tab3">
                                        <h3>{{_("Write your")}} <span class="semi-bold">{{_("Blog Post")}}</span></h3>
                                        <p>{{_("Write here your blogpost, and when you finish, click next.")}}</p><br>
                                        <input class="form-control input-lg" type="text" placeholder="{{_("Enter a title")}}" name="title">
                                        <br>
                                        <div class="editable" id="editable">
                                            <p>&#8203;</p>
                                        </div>
                                        <input id="hiddenTextarea" name="text" style="display:none"/>
                                    </div>
                                    <!-- Step -->
                                    <div class="tab-pane" id="tab4">
                                        <h3>{{_("Publish the")}} <span class="semi-bold">{{_("Blog Post")}}</span></h3>
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <h4>{{_("You are done, now is time to publish it and make it available to the world. Remember to share it in your social networks !")}}</h4>
                                                <p style="text-align:center;">
                                                <button type="submit" class="btn btn-lg btn-danger">{{_("Publish Now")}}</button>
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <ul class=" wizard wizard-actions">
                                        <li class="previous">
                                            <a href="#" class="btn">&nbsp;&nbsp;{{_("Previous")}}&nbsp;&nbsp;</a>
                                        </li>
                                        <li class="next">
                                            <a href="#" class="btn btn-primary">&nbsp;&nbsp;{{_("Next")}}&nbsp;&nbsp;</a>
                                        </li>
                                  </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
<script src="{{ url_for('admin.static', filename='plugins/select2/select2.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('admin.static', filename='js/tabs-wizard.js') }}" type="text/javascript"></script>
<script src="{{ url_for('admin.static', filename='plugins/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('admin.static', filename='plugins/jquery-validate/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('admin.static', filename='plugins/medium-editor/dist/js/medium-editor.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('admin.static', filename='plugins/medium-editor-insert-plugin/dist/js/addons/medium-editor-insert-plugin.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('admin.static', filename='plugins/medium-editor-insert-plugin/src/js/medium-editor-insert-embeds.js') }}" type="text/javascript"></script>
<script src="{{ url_for('admin.static', filename='plugins/medium-editor-insert-plugin/src/js/medium-editor-insert-images.js') }}" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function() {              

        //Form Wizard Validations
        var $validator = $("#addPostForm").validate({
              rules: {
                categories: {
                    required: true
                },
                title:  {
                    required: true
                }
              },
              messages: {
                categories:'{{_("Please introduce at least one category")}}',
                title:'{{_("Please, write a title for your blog post")}}'
              },
              errorPlacement: function(label, element) {
                    $('<span class="arrow"></span>').insertBefore(element);
                    $('<span class="error"></span>').insertAfter(element).append(label)
                }
            });

        $('.next').click(function() {
            if($("#addPostForm").valid()){
                console.log('aquip');
            }
        });

        //Form Wizard itself
        $('#rootwizard').bootstrapWizard({
            'tabClass': 'form-wizard',
            'onNext': function(tab, navigation, index) {
                var $valid = $("#addPostForm").valid();
                if(!$valid) {
                    console.log('here');
                    $validator.focusInvalid();
                    return false;
                }
                else{
                    console.log('there');
                    $('#rootwizard').find('.form-wizard').children('li').eq(index-1).addClass('complete');
                    $('#rootwizard').find('.form-wizard').children('li').eq(index-1).find('.step').html('<i class="fa fa-check"></i>'); 
                }
            },
            onTabShow: function(tab, navigation, index) {
                                    var $total = navigation.find('li').length;
                                    var $current = index+1;
                                    
                                    // If it's the last tab then hide the last button and show the finish instead
                                    if($current >= $total) {
                                        $('#rootwizard').find('.next').hide();
                                    } 
                                    else if($current === 1) {
                                        $('#rootwizard').find('.previous').hide();
                                    }
                                    else {
                                        $('#rootwizard').find('.next').show();
                                        $('#rootwizard').find('.previous').show();
                                    }
            }

            ,
            onTabClick: function(tab, navigation, index) {
                return false;
            }

        });     
        
        //Multiselect
        $("#multi").select2({
            tags: {{categories|tojson}},
            tokenSeparators: [",","."],
            matcher: function(term, text) { return text.toUpperCase().indexOf(term.toUpperCase())==0; }
        });

        var editor = new MediumEditor('#editable', {
            anchorInputPlaceholder: '{{_("Your link")}}',
            buttonLabels: 'fontawesome',
            buttons: ['bold', 'italic', 'underline', 'anchor', 'header1', 'header2', 'quote', 'unorderedlist','orderedlist'],
            checkLinkFormat: true,
            targetBlank: true
        });

        var url;

        function AJAXURL() {
            return $.ajax({
                type: "GET",
                url: "/admin/upload_url",
                success: function(response){
                    url = response['url'];
                }
            });
        };

        // Gets a first upload URL
        AJAXURL();

        $('#editable').mediumInsert({
            editor: editor,
            addons: {
                images: {
                    imagesUploadScript: function getURL() {
                        // makes a request to grab new url
                        AJAXURL();
                        console.log(url);
                        // But returns the old url in the meanwhile
                        return url;
                    }
                },
                embeds: {
                    urlPlaceholder: '{{_("YouTube or Vimeo link to a video")}}',
                    oembedProxy: 'http://medium.iframe.ly/api/oembed?iframe=1'
                }
            }
        });  
    }); 

    function copyContent () {
        document.getElementById("hiddenTextarea").value =  
            document.getElementById("editable").innerHTML;
    }

    $('#wizard').removeClass('hidden').addClass('animated fadeInUp');
    
</script>
{% include "modalEditor.html"%}

{% endblock %}