{% extends 'admin-base.html'%}
{% block content %}
    <div class="card fadeInUp hide">
        <div class="title group">
            <h3 class="light left">{{_("All <b>Posts</b>")}}</h3>
            <a class="btn btn-small btn-blue btn-outline right" href="{{url_for('admin.add_post')}}">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;{{_("Add Post")}}
            </a>
        </div>
        <table class="table-hovered" >
            <thead>
                <tr>
                    <th>{{_("Post")}}</th>
                    <th>{{_("Published")}}</th>
                    <th>{{_("Categories")}}</th>
                    <th>{{_("Actions")}}</th>
                </tr>
            </thead>
            <tbody id="posts-table-body">
                {% for post in posts %}
                <tr id="{{ post.key.id() }}">
                    <td><a href="/blog/{{post.url}}" class="title">{{post.title}}</a></td>
                    <td><span class="date" data-date="{{post.date}}" data-format="LL"></span></td>
                    <td>{% for category in post.get_categories() %}<span class="label">{{category}}</span> {% endfor %}</td>
                    <td>
                        <span class="btn-group">
                            <a class="btn btn-smaller btn-blue btn-outline tooltip-it"
                                data-title="{{ _("edit") }}"
                                data-theme="blue"
                                href="{{ url_for('admin.edit_post', post_id=post.key.id())}}">
                               <i class="fa fa-pencil"></i>
                            </a>
                            <button class="btn btn-smaller btn-red btn-outline delete-modal tooltip-it"
                                data-title="{{ _("delete") }}"
                                data-theme="red"
                                data-id="{{post.key.id()}}">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if plus %}
        <div class="units-row">
            <div class="unit-centered unit-40 text-centered">
                 <button class="btn btn-small btn-black btn-outline" id="more-posts">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;{{_("Older Posts")}}
                </button>
            </div>
        </div>
        {% endif %} 
    </div>
    {% include 'blocks/block-modal.html' %}
{% endblock %}
{% block js %}
    <script type="application/javascript">
        var page = 0;

        // AJAX more posts
        document.getElementById('more-posts').addEventListener('click', function(){
            var request = new XMLHttpRequest(),
                tbody = document.getElementById('posts-table-body');

            // Add 1
            page++;

            // Get HTML
            request.open('GET', '/admin/posts/'+page, true);
            request.onload = function() {
              if (request.status >= 200 && request.status < 400) {
                
                // Count the number of post, to know if last request or not
                var post_number = 0;

                // Success!
                tbody.insertAdjacentHTML('beforeEnd', request.responseText);
                [].forEach.call(document.querySelectorAll('.added-post'), function(item){
                    item.classList.remove('hide')
                });

                // Set Dates
                [].forEach.call(document.querySelectorAll('.date'), function(item){
                    item.innerHTML = moment(item.dataset.date, "YYYY-MM-DD HH:mm:ss.SSSSSS").add(1, 'h').fromNow();
                    post_number++;
                });

                // Check if more post to come
                if (request.responseText === "" || post_number%5 !== 0){
                    document.getElementById('more-posts').remove()
                }

              } else {
                // We reached our target server, but it returned an error
                alert("{{_("There was an error while requesting more posts. Please reload the page.")}}")
              }
            };
            request.send();
        });

        // set Locale Lang
        moment.locale('{{request.cookies.get('lang')}}');

        // Set dates (Initial)
        [].forEach.call(document.querySelectorAll('.date'), function(item){
            item.innerHTML = moment(item.dataset.date, "YYYY-MM-DD HH:mm:ss.SSSSSS").add(1, 'h').fromNow();
        });

        // Set modal open listener
        document.addEventListener('click', function(e){
            var item = e.target;

            // Check if parent
            if (item.parentNode.classList){
                if (item.parentNode.classList.contains('delete-modal')){
                    item = e.target.parentNode
                }
            }

            if(item && item.classList.contains('delete-modal') ){
                var title = item.parentNode.parentNode.parentNode.querySelector('.title').innerText,
                    content = '{{_("Are you sure you want to delete this post")}}',
                    action = '{{_("Delete")}}',
                    postId = item.dataset.id;

                populateModal(title, content, action, postId);
                openModal();

                // Set modals action
                document.querySelector('#modal-action').addEventListener('click', deletePostModalRequest);
            }
        });

        // Set modal closing listeners
        document.querySelector('.modal-box').addEventListener('click', function(event){
            if (this.classList.contains('modal-box') && event.target.classList.contains('modal-box')) {
                closeModal();

                // Remove modal action
                document.querySelector('#modal-action').removeEventListener('click', deletePostModalRequest);
            }
        });

        // Modal closing listener
        document.addEventListener('click', function(e){
            if(e.target && e.target.classList.contains('modal-close-action')){
                closeModal();
                document.querySelector('#modal-action').removeEventListener('click', deletePostModalRequest);
            }
        });


    </script>
{% endblock %}