{% extends 'admin-base.html'%}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='plugins/redactor/css/redactor.css')}}">
{% endblock %}
{% block content %}
    <div class="card fadeInUp hide">
        <div class="title group">
            <h3 class="light left">{{_("Edit")}} <b>{{_("Post")}}</b></h3>
        </div>
        <form class="forms" method="POST">
            <div class="units-row">
                <div class="unit-70">
                    <label>
                        {{_("Title")}} <span class="forms-desc">{{_("Edit the title")}}</span>
                        <input type="text" name="title" class="width-100" value="{{post.title}}" />
                    </label>
                    <label>
                        {{_("Content")}} <span class="forms-desc">{{_("Edit the main content")}}</span>
                        {% include 'blocks/block-editor.html'%}
                    </label>
                </div>
                <div class="unit-30">
                    <label>
                        {{_("Categories")}} <span class="forms-desc">{{_("Try not to duplicate")}}</span>
                        <input type="text" id="categories" name="categories"
                        value="{% for cat in post.get_categories()%}{{cat}}{% if not loop.last%},{% endif %}{% endfor %}">
                    </label>
                    <br>
                    <h4 class="light">{{_("Save")}} <b>{{_("Changes")}}</b></h4>
                    <p>{{_("By saving all the changes will be published")}}</p>
                    <button type="submit" class="btn btn-black btn-outline">{{_("Publish Now")}}</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
{% block js %}
<!-- Initialize Redactor editor -->
<script type="text/javascript" src="{{url_for('admin.static', filename='plugins/jquery/dist/jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('admin.static', filename='plugins/redactor/redactor.js')}}"></script>
<script type="text/javascript" src="{{url_for('admin.static', filename='plugins/redactor/plugins/video/video.js')}}"></script>
<script type="text/javascript" src="{{url_for('admin.static', filename='plugins/redactor/plugins/imagemanager/imagemanager.js')}}"></script>
<script type="text/javascript" src="{{url_for('admin.static', filename='plugins/redactor/plugins/fullscreen/fullscreen.js')}}"></script>
{% if request.cookies.get('lang') != "en" %}
<script type="text/javascript" src="{{url_for('admin.static', filename='plugins/redactor/langs/'+request.cookies.get("lang")+'.js')}}"></script>
{% endif %}
<script type="text/javascript" src="{{url_for('admin.static', filename='plugins/select2/select2.min.js')}}"></script>
<script type="text/javascript">

$('#content').redactor({
    minHeight: 300,
    initCallback: function(){
        this.code.set('{{ post.text | safe}}');
    },
    buttonsHide: ['html'],
    toolbarFixedTopOffset: 50,
    imageManagerJson: '/admin/image_serve/',
    plugins: ['imagemanager','video','fullscreen'],
    gcs: '/admin/upload_url'
    {% if request.cookies.get("lang") != "en" %}
    ,
    lang : '{{request.cookies.get("lang")}}'
    {% endif %}
});

$('#categories').select2({
    tags:{{categories|tojson}},
    tokenSeparators: [",","."],
    matcher: function(term, text) { 
        return text.toUpperCase().indexOf(term.toUpperCase())==0; 
    }
});

</script>
{% endblock %}