{% extends 'admin-base.html'%}
{% block content %}
    <div class="card fadeInUp hide">
        <div class="title group">
            <h3 class="light left">{{_("Add")}} <b>{{_("Files")}}</b></h3>
            <a class="btn btn-small btn-blue btn-outline right" href="{{url_for('admin.image_manager')}}">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{_("Return")}}
            </a>
        </div>
        <p>
            <div class="tools-droparea">
                <div class="tools-droparea-placeholder">
                    {{ _("Drop file here or") }}
                    <input multiple type="file" name="file" class="file" data-tools="upload" data-url="/tests/kube/upload.php">
                </div>
            </div>
        </p>
    </div>
{% endblock %}