{% extends "main-base.html"%}
{% block css%}

{% endblock %}
{% block content%}
<div class="row animated fadeInUp">
    <div class="col-md-6">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>{{_("Edit")}} <span class="semi-bold">{{_("Categories")}}</span></h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#" class="config"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <div class="row">
                    <h4>{{_("Pick a category from the list in the left, and edit it in the right column.")}}</h4>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                            {% for category in categories%}
                            <a href="{{ url_for('admin.edit_category', cat_id=category.key.id())}}">
                            <span class="label label{{ loop.cycle('','-success', '-info', '-inverse','-important','-warning') }}">{{category.name}}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>{{_("Edit")}} <span class="semi-bold">{{_("Category")}}</span></h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#" class="config"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <div class="row"> 
                    <div class="col-md-8 col-md-offset-2"> 
                        <div class="input-group">
                            <span class="input-group-addon default">
                                <i class="fa fa-info"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="ID" disabled="disabled" value="{{edit_cat.key.id()}}">
                        </div>
                        <br>
                        <form id="editForm" method="POST">
                            <div class="input-group" id="input-name">
                                <span class="input-group-addon default">                
                                    {{_("Category")}}
                                </span>
                                <input type="text" name="name" class="form-control" placeholder="Insert a category name" value="{{edit_cat.name}}">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-success" name="action" value="save">
                                <i class="fa fa-save"></i>  
                                {{_("Save")}}
                            </button>
                            <button type="submit" class="btn btn-danger pull-right" name="action" value="delete">
                                <i class="fa fa-trash-o"></i>  
                                {{_("Delete")}}
                            </button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('admin.static', filename='plugins/jquery-validate/dist/jquery.validate.min.js') }}" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function() {              

        //Form Wizard Validations
        var $validator = $("#editForm").validate({
              rules: {
                name: {
                    required: true
                }
              },
              errorPlacement: function(label, element) {
                     $('<span class="arrow"></span>').insertAfter('#input-name');
                    $('<span class="error"></span>').insertAfter('#input-name').append(label)
                }
            });

    }); 
         
</script>
{% endblock %}