{% extends "base.html"%}

{% block css %}
    <link href="{{ url_for('static', filename='plugins/select2-bootstrap-css/select2-bootstrap.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('static', filename='plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('static', filename='plugins/medium-editor/dist/css/medium-editor.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('static', filename='css/themes/custom/medium-theme.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('static', filename='css/themes/custom/medium-editor-insert-plugin.css') }}" rel="stylesheet" type="text/css" media="screen">

{% endblock %}

{% block content%}
    <form id="editForm" method="POST" onsubmit="return copyContent()">
        <div class="row animated fadeInUp">
            <div class="col-md-8">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>{{_("Edit")}} <span class="semi-bold">{{_("Post")}}</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#" class="config" data-toggle="modal" data-target="#helpModal"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border">
                        <div class="row">    
                            <!-- FORM -->
                                <!-- Main wrapper -->
                                <input class="form-control input-lg" type="text" value="{{post.title}}" name="title">
                                <br>
                                <div class="editable" id="editable">
                                    {# <p>&#8203;</p> #}
                                    {{post.text|safe}}
                                </div>
                                <textarea id="hiddenTextarea" name="text" style="display:none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>{{_("Other")}} <span class="semi-bold">{{_("Options")}}</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#" class="config"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border">
                        <div class="row">   
                            <h5>{{_("Edit")}} <span class="semi-bold">{{_("Categories")}}</span></h5>
                            <input id="multi" name="categories" style="width:100%" value="{% for cat in post.get_categories()%}{{cat}}{% if not loop.last%},{% endif %}{% endfor %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>{{_("Save")}} <span class="semi-bold">{{_("Changes")}}</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#" class="config"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border">
                        <div class="row">   
                            <h5>{{_("By saving all the changes will be published")}}</h5>
                            <hr>
                            <button type="submit" class="btn btn-primary">{{_("Update the post")}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='plugins/select2/select2.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-validate/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/medium-editor/dist/js/medium-editor.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/medium-editor-insert-plugin/dist/js/addons/medium-editor-insert-plugin.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/medium-editor-insert-plugin/src/js/medium-editor-insert-embeds.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/medium-editor-insert-plugin/src/js/medium-editor-insert-images.js') }}" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function() {              

        //Form Wizard Validations
        var $validator = $("#editForm").validate({
              rules: {
                categories: {
                    required: true
                },
                title:  {
                    required: true
                }
              },
              errorPlacement: function(label, element) {
                    $('<span class="arrow"></span>').insertBefore(element);
                    $('<span class="error"></span>').insertAfter(element).append(label)
                }
            });

        //Multiselect
        $("#multi").select2({
            tags: {{categories|tojson}},
            tokenSeparators: [",","."],
            matcher: function(term, text) { return text.toUpperCase().indexOf(term.toUpperCase())==0; }
        });


        //Textarea
        var editor = new MediumEditor('#editable', {
            anchorInputPlaceholder: '{{_("Your link")}}',
            buttonLabels: 'fontawesome',
            buttons: ['bold', 'italic', 'underline', 'anchor', 'header1', 'header2', 'quote', 'unorderedlist','orderedlist'],
            checkLinkFormat: true,
            targetBlank: true
        });

        var url;

        function AJAXURL() {
            return $.ajax({
                type: "GET",
                url: "/admin/upload_url",
                success: function(response){
                    url = response['url'];
                }
            });
        };

        // Gets a first upload URL
        AJAXURL();

        $('#editable').mediumInsert({
            editor: editor,
            addons: {
                images: {
                    imagesUploadScript: function getURL() {
                        // makes a request to grab new url
                        AJAXURL();
                        // But returns the old url in the meanwhile
                        return url;
                    }
                },
                embeds: {
                    urlPlaceholder: '{{_("YouTube or Vimeo link to a video")}}',
                    oembedProxy: 'http://medium.iframe.ly/api/oembed?iframe=1'
                }
            }
        });

    }); 



    function copyContent () {
        document.getElementById("hiddenTextarea").value =  
            document.getElementById("editable").innerHTML;
    }
         
</script>
{% include "modalEditor.html"%}
{% endblock %}