{% extends "main-base.html"%} 
{% block css %}
{% endblock %} 
{% block content%}
<div class="row">
    <div class="col-md-6 col-md-offset-3 hidden" id="main">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>{{_("User")}}
                    <span class="semi-bold">{{_("Settings")}}</span>
                </h4>
                <div class="tools">
                    <a href="#" class="config" style="visibility:hidden;"></a>
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <div class="row">
                    <p class="open">{{_("Here you can change the name that will be displayed in the posts.")}}</p>
                    <form method="POST" >
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="arrow"></span>
                                <i class="fa fa-font"></i>
                            </span>
                            <input  type="text" 
                                    name="user_name"
                                    style="width: 100%;" 
                                    placeholder="{{_("Your name")}}" 
                                    {% if user%}
                                        value="{{user.name}}"
                                    {% endif %}>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-lg btn-success">{{_("Save Changes")}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    $('#main').removeClass('hidden').addClass('animated fadeInUp');
});
</script>
{% endblock %}
