<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{_("How to add images and edit text")}}</h4>
            </div>
            <div>
                <ul class="nav nav-tabs" id="tabHelp">
                    <li class="active"><a href="#tabText">{{_("Edit text")}}</a></li>
                    <li class=""><a href="#tabIMG">{{_("Add images")}}</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tabText">
                        <div class="row column-seperation">
                            <div class="col-md-12">
                                <h3>{{_("Edit text")}}</h3>
                                <h4>{{_("Text editing is as easy as selecting the words you want to style and then a bubble Box will appear with available options.")}}</h4>
                                <hr>
                                <img style="opacity: 0.7;" src="{{ url_for('admin.static', filename='img/admin/text.gif') }}">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabIMG">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{_("Add an image or Video")}}</h3>
                                <h4>
                                    {{_("For adding an image or a video, just drag the image to the editor or click in the")}}
                                    <span class="fa-stack">
                                      <i class="fa fa-circle-o fa-stack-2x text-success"></i>
                                      <i class="fa fa-plus fa-stack-1x text-success"></i>
                                    </span>
                                    {{_("button in the left side of the editor.")}}
                                </h4>
                                <div class="col-md-12">
                                    <hr>
                                    <img width="48%" style="opacity: 0.7;" src="{{ url_for('admin.static', filename='img/admin/img1.gif') }}">
                                    <img width="48%" style="opacity: 0.7;" src="{{ url_for('admin.static', filename='img/admin/img2.gif') }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#tabHelp a').click(function (e) {
        e.preventDefault();
        console.log('Runed')
        $(this).tab('show');
    });
}); 
</script>