{% extends "main-base.html"%}

{% block css %}
<link href="{{ url_for('admin.static', filename='plugins/messenger/build/css/messenger.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('admin.static', filename='plugins/messenger/build/css/messenger-theme-flat.css') }}" rel="stylesheet" type="text/css">
<style type="text/css">
@media only screen and (max-width: 950px) {
    #flex-table table td:nth-child(3), 
    #flex-table table th:nth-child(3) {display: none;}
}
 
@media only screen and (max-width: 640px) {
    #flex-table table td:nth-child(3),
    #flex-table table th:nth-child(3),
    #flex-table table td:nth-child(2),
    #flex-table table th:nth-child(2){display: none;}
}


</style>
{% endblock %}

{% block content%}
<div class="row animated fadeInUp">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>{{_("All")}} <span class="semi-bold">{{_("Posts")}}</span></h4>
                    <div class="tools">
                        <a href="#" class="config" style="visibility:hidden;"></a>
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                   

                    <a href="{{url_for('admin.addPost')}}" class="btn btn-white btn-small ">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;{{_("Add Post")}}
                    </a>
                   
                    {# <button type="submit" name="multiple" value="yes" class="btn btn-danger btn-small ">
                        <i class="fa fa-trash-o"></i>
                        Delete
                    </button> #}
                     <br>
                    <div class="row" id="flex-table">    
                        <table class="table table-hover cf">
                            <thead class="cf">
                                <tr>
                                    <th>{{_("Post")}}</th>
                                    <th>{{_("Published")}}</th>
                                    <th>{{_("Categories")}}</th>
                                    <th>{{_("Actions")}}</th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                                {% for post in posts %}
                                <tr>
                                    <td><a href="/blog/{{post.url}}"><span style="line-height: 23px;">{{post.title}}</span></a></td>
                                    <td><span style="line-height: 23px;" class="date" data-date="{{post.date}}" data-format="LL"></span></td>
                                    <td>
                                        {% for category in post.get_categories() %}<span class="label">{{category}}</span> {% endfor %}
                                    </td>
                                    <td>
                                        <form method="POST">
                                            <div class="btn-group">
                                                <a href="{{ url_for('admin.edit_post', post_id=post.key.id())}}" class="btn btn-table btn-info tip"  data-toggle="tooltip" data-container="body" data-original-title="{{_("Edit")}}">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <button type="submit" class="btn btn-table btn-danger tip" data-container="body" data-toggle="tooltip" data-original-title="{{_("Delete")}}">
                                                    <input value="{{post.key.id()}}" name="post_id"  type="hidden"> 
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </div>
                                        </form> 
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if plus%}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                            <button class="btn btn-block btn-white" type="button" id="more_posts">
                                <i class="fa fa-plus"></i>
                                {{_("Older Posts")}}
                            </button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<!-- Dependencies -->
<script type="text/javascript" src="{{ url_for('admin.static', filename='plugins/moment/min/moment-with-locales.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('admin.static', filename='plugins/messenger/build/js/messenger.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('admin.static', filename='plugins/messenger/build/js/messenger-theme-flat.js') }}"></script>
<script type="text/javascript">
    // Set's dates
    $(document).ready(function(){
        
        // Notifications
        Messenger.options = {theme: 'flat'};

        // Tooltips
        $('.tip').tooltip();
        moment.locale('{{request.cookies.get('lang')}}');

        // Dates
        function set_dates(){
            $('.date').each(
                function(){
                    var elementData = moment($(this).attr('data-date'), "YYYY-MM-DD HH:mm:ss.SSSSSS").add(1, 'h').fromNow(),
                        elementFormat = $(this).attr('data-format');
                    $(this).html(elementData/*.format(elementFormat)*/);
                }
            )
        }

        set_dates();

        // AJAX Call more posts
        var page = 0;
        $("#more_posts").click(function(event){
            page++; // adds one to pagination
            jQuery.get('/admin/posts/'+page, function(more_posts) {
                // Get's objects
                $('#table_body').append(more_posts);
                // set's time for new posts
                set_dates();
                // shows them
                $('.fadein').fadeIn();
                var listItems = $("#table_body").children(),
                    count = listItems.length;
                // If no more posts to show --> Notification
                if (count%5 !== 0 || more_posts == ''){
                    $("#more_posts").fadeOut();
                    Messenger().post({
                        message: "{{_("All post were loaded")}}",
                        type: 'info',
                        showCloseButton: true
                    });
                }
            });
            
        });

    });
</script>
{% endblock %}