{% for post in posts %}
    <tr class="fadein" style="display:none;">
        {# <td>
            <div class="checkbox check-default">
                <input name="check" id="checkbox{{loop.index}}" type="checkbox" value="{{post.key.urlsafe()}}">
                <label for="checkbox{{loop.index}}"></label>
            </div>
        </td> #}
        <td><a href="/blog/{{post.key.id()}}"><span style="line-height: 23px;">{{post.title}}</span></a></td>
        <td><span style="line-height: 23px;" class="date" data-date="{{post.date}}" data-format="LL"></span></td>
        <td>
        {% for category in post.get_categories() %}<span class="label">{{category}}</span> {% endfor %}
        </td>
        <td>
            <form method="POST">
                <div class="btn-group">
                    <a href="{{ url_for('admin.edit_post', post_id=post.key.id())}}" class="btn btn-table btn-info tip"  data-toggle="tooltip" data-container="body" data-original-title="{{_("Edit")}}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <button type="submit" class="btn btn-table btn-danger tip" data-container="body" data-toggle="tooltip" data-original-title="{{_("Delete")}}">
                    <input value="{{post.key.id()}}" name="post_id"  type="hidden">
                    <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </form>
        </td>
    </tr>
{% endfor %}