<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{_("Cancel")}}</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">{{_("Delete Post")}}</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" id="deleteForm">
                    <div class="form-group">
                        <p class="open">{{_("Are you sure you want to delete this post")}}</p>
                        <input name="post_id" type="text" class="form-control" style="display:none;">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{_("Cancel")}}</button>
                <button type="button" class="btn btn-danger" id="deletePost">{{_("Delete")}}</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

<script type="text/javascript">
$('#deleteModal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget), // Button that triggered the modal
        blog_id = button.data('blog-id'), // Extract info from data-* attributes
        modal = $(this);
    modal.find('.modal-body input').val(blog_id);
    $('#deletePost').click(function(){
    //Some code
        $("#deleteForm").submit();
    });
})
</script>
