<!-- BEGIN RIGHT TOGGLER -->
<div class="pull-right">
    <ul class="nav quick-section ">
        <li class="quicklinks">
            <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#">
                <i class="fa fa-globe"></i>
            </a>
            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                <li class="eu">
                    <a href="#"> {{_('Basque')}}</a>
                </li>
                <li class="es">
                    <a href="#"> {{_('Spanish')}}</a>
                </li>
                <li class="en">
                    <a href="#"> {{_('English')}}</a>
                </li>
                <li class="fr">
                    <a href="#"> {{_('French')}}</a>
                </li>
            </ul>
        </li>
        <li class="quicklinks"> <span class="h-seperate"></span></li>
        <li class="quicklinks">
            <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#">
                <i class="fa fa-gear"></i>
            </a>
            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                <li>
                    <a href="{{url_for('admin.user')}}"> {{_('My Account')}}</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{url_for('logout')}}">
                        <i class="fa fa-power-off"></i>&nbsp;&nbsp;{{_('Log Out')}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- END RIGHT TOGGLER -->