{% extends 'admin-base.html'%}
{% import 'macros/admin-pagination.html' as paginator %}
{% block css%}
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='dist/photoswipe/photoswipe.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='dist/photoswipe/default-skin/default-skin.css')}}">
{% endblock %}
{% block content %}
    <div class="card fadeInUp hide">
        <div class="title group">
            <h3 class="light left">{{_("All")}} <b>{{_("Images")}}</b></h3>
        </div>
        <p>{{ _("You can view and delete all the uploaded images here.") }}</p>
        <div class="group">
            <a class="btn btn-smaller btn-blue btn-outline right" href="{{ url_for('admin.image_manager_add') }}">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;{{_("Add Image")}}
            </a>
            {% if keys %}
            <button class="btn btn-smaller btn-black btn-outline" id="gallery-btn" type="button">
                <i class="fa fa-eye"></i>&nbsp;&nbsp;{{_("Preview Images")}}
            </button>
            <button class="btn btn-smaller btn-red btn-outline modal-trigger" type="submit"
                data-title="{{ _("Delete selected images.") }}"
                data-content="{{_("Are you sure you want to delete this images ?")}}"
                data-action="{{_("Delete")}}"
                data-url="{{ url_for('admin.image_manager') }}"
                data-target=".active">
                <i class="fa fa-trash-o"></i>&nbsp;&nbsp;{{_("Delete Images")}}
            </button>
            {% endif %}
            {% if not keys %}
                <p>{{ _("No images uploaded here..") }}</p>
                <p>{{ _("All the files you upload will be listed here.") }}
                {{ _("Click the images to select any items you wish to delete.") }}</p>
            {% else %}
        </div>
            <div class="grid" id="grid">
                {% for key in keys %}
                    <div class="grid-item" id="{{ key.key.id() }}" style="background-image: url('{{ key.thumb }}')"
                    data-url="{{ key.thumb }}"
                    data-image="{{ key.gallery }}"
                    data-height="{{ key.height }}"
                    data-width="{{ key.width }}">
                    </div>
                {% endfor %}
            </div>
            {% if keys %}
                {{ paginator.render_pagination(pagination) }}
            {% endif %}
        {% endif %}
    </div>
    {% include 'blocks/block-modal.html' %}
    {% include 'blocks/block-gallery.html' %}
{% endblock %}
{% block js %}
<script src="{{ url_for('admin.static', filename='dist/photoswipe/production.min.js') }}" type="application/javascript"></script>
{% endblock %}
