*.pyc
lib/
!lib/requirements.txt
.DS_Store
app.yaml
app/admin/static/plugins/*
app/admin/node_modules/*
app/front/node_modules/*
app/front/static/plugins/*
app/admin/static/dist
app/admin/static/fonts
app/front/static/dist
.idea/*
logo_kolore.afdesign
open-sans.css
kube.css
