{% extends "base.html"%}

{% block css %}
    <link href="{{ url_for('static', filename='plugins/bootstrap-select2/select2.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('static', filename='plugins/medium/css/medium-editor.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('static', filename='plugins/medium/css/themes/default.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('static', filename='plugins/medium-upload/css/medium-editor-insert-plugin.css') }}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block content%}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Add <span class="semi-bold">{{_("Post")}}</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#" class="config"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <div class="row">    
                        <!-- FORM -->
                        <form id="commentForm" method="post">
                            <!-- Main wrapper -->
                            <div id="rootwizard" class="col-md-12">
                          <!-- Step List -->
                                <div class="form-wizard-steps ">
                                    <ul class="wizard-steps">
                                        <li class="" data-target="#step1"> 
                                            <a href="#tab1" data-toggle="tab"> 
                                                <span class="step">1</span> 
                                                <span class="title">{{_("Help")}}</span>
                                            </a>
                                        </li>
                                        <li class="" data-target="#step2"> 
                                            <a href="#tab2" data-toggle="tab"> 
                                                <span class="step">2</span> 
                                                <span class="title">{{_("Categorize")}}</span>
                                            </a>
                                        </li>
                                        <li class="" data-target="#step3"> 
                                            <a href="#tab3" data-toggle="tab"> 
                                                <span class="step">3</span> 
                                                <span class="title">{{_("Write")}}</span>
                                            </a>
                                        </li>
                                        <li class="" data-target="#step4"> 
                                            <a href="#tab4" data-toggle="tab"> 
                                                <span class="step">4</span> 
                                                <span class="title">{{_("Publish")}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <br>
                                <div class="tab-content transparent">
                                    <!-- Step -->
                                    <div class="tab-pane" id="tab1">
                                        <h3>{{_("Some tips")}} <span class="semi-bold">{{_("for writing a blog post")}}</span></h3>
                                        <br>
                                        <p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li>
                                                            <h4>{{_("Tell your story")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Share how you feel")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("You’ll never please everyone")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Write about things that matter to you")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Inform, inspire and interact")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Put aside time to read others blog")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("When an idea strikes, write it down")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Understand who is reading your blog")}}</h4>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li>
                                                            <h4>{{_("Do it at least, once a week")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Put aside time to create quality content it doesn’t just appear")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Ask your readers questions")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Brainstorm regularly")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Not every post needs to go viral")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("Write, Write, Write")}}</h4>
                                                        </li>
                                                        <li>
                                                            <h4>{{_("And <strong>Yes !</strong> everyone writes good content if it wants")}}</h4>
                                                        </li>
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </p>
                                    </div>
                                    <!-- Step -->
                                    <div class="tab-pane" id="tab2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>{{_("Post")}} <span class="semi-bold">{{_("Categories")}}</span></h3>
                                                <p>{{_("It's important to try to keep your content organized. Categorizing posts helps you to keep <b>your stuff organized.</b> Also helps search engines to understand the content of your website.")}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>{{_("Select")}} <span class="semi-bold">{{_("Categories")}}</span></h3>
                                                <p>{{_("Search for existing categories or write a new one and press enter. Please try <b>not to duplicate</b> categories.")}}</p>
                                                <br>
                                                <input id="multi" name="categories" style="width:100%" placeholder="Search or Create a category..">
                                            </div> 
                                        </div>
                                    </div>
                                    <!-- Step -->
                                    <div class="tab-pane" id="tab3">
                                        <h3>{{_("Write your")}} <span class="semi-bold">{{_("Blog Post")}}</span></h3>
                                        <p>{{_("Write here your blogpost, and when you finish, click next.")}}</p>
                                        <input class="form-control input-lg" type="text" placeholder="Enter a title" name="title">
                                        <br>
                                        <div class="editable">
                                        </div>
                                    </div>
                                    <!-- Step -->
                                    <div class="tab-pane" id="tab4">
                                        <h3>{{_("Publish the")}} <span class="semi-bold">{{_("Blog Post")}}</span></h3>
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <h4>{{_("You are done, now is time to publish it and make it available to the world. Remember to share it in your social networks !")}}</h4>
                                                <p style="text-align:center;">
                                                <button type="submit" class="btn btn-lg btn-danger">{{_("Publish Now")}}</button>
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <ul class=" wizard wizard-actions">
                                        <li class="previous">
                                            <a href="javascript:;" class="btn">&nbsp;&nbsp;{{_("Previous")}}&nbsp;&nbsp;</a>
                                        </li>
                                        <li class="next">
                                            <a href="javascript:;" class="btn btn-primary">&nbsp;&nbsp;{{_("Next")}}&nbsp;&nbsp;</a>
                                        </li>
                                  </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='plugins/bootstrap-select2/select2.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/boostrap-form-wizard/js/jquery.bootstrap.wizard.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/medium/js/medium-editor.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/medium-upload/js/medium-editor-insert-plugin.all.min.js') }}" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function() {              

        //Form Wizard Validations
        var $validator = $("#commentForm").validate({
              rules: {
                categories: {
                    required: true
                },
                title:  {
                    required: true
                }
              },
              errorPlacement: function(label, element) {
                    $('<span class="arrow"></span>').insertBefore(element);
                    $('<span class="error"></span>').insertAfter(element).append(label)
                }
            });

        //Form Wizard itself
        $('#rootwizard').bootstrapWizard({
                'tabClass': 'form-wizard',
                'onNext': function(tab, navigation, index) {
                    var $valid = $("#commentForm").valid();
                    if(!$valid) {
                        $validator.focusInvalid();
                        return false;
                    }
                    else{
                        $('#rootwizard').find('.form-wizard').children('li').eq(index-1).addClass('complete');
                        $('#rootwizard').find('.form-wizard').children('li').eq(index-1).find('.step').html('<i class="fa fa-check"></i>'); 
                    }
                },
                onTabShow: function(tab, navigation, index) {
                                        var $total = navigation.find('li').length;
                                        var $current = index+1;
                                        
                                        // If it's the last tab then hide the last button and show the finish instead
                                        if($current >= $total) {
                                            $('#rootwizard').find('.next').hide();
                                        } 
                                        else if($current === 1) {
                                            $('#rootwizard').find('.previous').hide();
                                        }
                                        else {
                                            $('#rootwizard').find('.next').show();
                                            $('#rootwizard').find('.previous').show();
                                        }
                }

                /*,
                onTabClick: function(tab, navigation, index) {
                    return false;
                }*/

        });     
        
        //Multiselect
        $("#multi").select2({
            tags: {{categories|tojson}},
            tokenSeparators: [",","."],
            matcher: function(term, text) { return text.toUpperCase().indexOf(term.toUpperCase())==0; }
        });

        var editor = new MediumEditor('.editable');

        $(function () {
          $('.editable').mediumInsert({
            editor: editor,
            addons: {
              images: {
                imagesUploadScript: '{{upload_url}}'
              },
              embeds: {
                oembedProxy: 'http://medium.iframe.ly/api/oembed?iframe=1'
              }
            }
          });
        });

    }); 
         
</script>
{% endblock %}