<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Chroma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{ url_for('static', filename='css/error.min.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END CSS TEMPLATE -->
  </head>
  <!-- END HEAD -->
  <!-- BEGIN BODY -->
  <body class="error-body no-top">
    <div class="error-wrapper container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10">
          <div class="error-container" >
            <div class="error-main">
              <div class="error-number"> {{_("404")}} </div>
              <div class="error-description" > {{_("The webpage you are looking for is not here")}} </div>
              <div class="error-description-mini"> {{_("Try searching:")}} </div>
              <br>
               <div class="row">
                <div class="input-with-icon col-md-12"> <i class="fa fa-search"></i>
                  <input type="text" class="form-control" id="form1Name" name="form1Name">
                </div>
              </div>
              <br>
              <button class="btn btn-primary btn-cons" type="button">{{_("Search")}}</button> 
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="error-container">
        <div class="copyright"> Chroma Branding | <a href="mailto:info@chrombranding.com"> info@chrombranding.com</a><br> Apatta, 1 Pol. Apatta-Erreka, 20400 Tolosa, Gipuzkoa</div>
      </div>
    </div>
  </body>
</html>