{% extends 'admin-base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='dist/redactor/css/redactor.css')}}">
{% endblock %}
{% block content %}
    <div class="card fadeInUp hide">
        <div class="title group">
            <h3 class="light left">{{_("Edit <b>Post</b>")}}</h3>
        </div>
        <form class="forms" method="POST">
            <div class="units-row">
                <div class="unit-70">
                    <label>
                        {{_("Title")}} <span class="forms-desc">{{_("Edit the title")}}</span>
                        <input type="text" name="title" class="width-100" value="{{post.title}}" />
                    </label>
                    <label>
                        {{_("Content")}} <span class="forms-desc">{{_("Edit the main content")}}</span>
                        {% include 'blocks/block-editor.html' %}
                    </label>
                </div>
                <div class="unit-30">
                    <label>
                        {{_("Categories")}} <span class="forms-desc">{{_("Try not to duplicate")}}</span>
                        <input type="text" id="categories" name="categories"
                        value="{% for cat in post.get_categories()%}{{cat}}{% if not loop.last%},{% endif %}{% endfor %}">
                    </label>
                    <br>
                    <h4 class="light">{{_("Save")}} <b>{{_("Changes")}}</b></h4>
                    <p>{{_("By saving all the changes will be published")}}</p>
                    <a class="btn btn-small btn-blue btn-outline" href="{{url_for('admin.posts')}}">
                        <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{_("Return")}}
                    </a>
                    <button type="submit" class="btn btn-small btn-black btn-outline"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;{{_("Publish Now")}}</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
{% block js %}
<!-- Initialize Redactor editor -->
<script type="text/javascript" src="{{url_for('admin.static', filename='dist/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('admin.static', filename='dist/redactor/production.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('admin.static', filename='dist/select2/select2.min.js')}}"></script>
<script type="text/javascript">
$(document).ready(function(){

    // No XSS vulnerability --> http://stackoverflow.com/a/1395954/1473548
    var decoded = $('<textarea/>').html("{{ post.text }}").val();

    $('#content').redactor({
        minHeight: 300,
        initCallback: function(){
            this.code.set(decoded);
            this.observe.load();
            if (this.utils.isOldIe()){
                alert("{{_("You should update your Internet Explorer")}}");
            }
        },
        buttonsHide: ['html'],
        toolbarFixedTopOffset: 50,
        imageManagerJson: '/admin/image_serve/',
        plugins: ['imagemanager','video','fullscreen'],
        gcs: '/admin/upload_url'
        {% if request.cookies.get("lang") != "en" %}
        ,
        lang : '{{request.cookies.get("lang")}}'
        {% endif %}
    });

    $('#categories').select2({
        tags:{{categories|tojson}},
        tokenSeparators: [",","."],
        matcher: function(term, text) {
            return text.toUpperCase().indexOf(term.toUpperCase())==0;
        }
    });
});
</script>
{% endblock %}