@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
.iconset {
    opacity: 0.25;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.iconset:hover {
    opacity: 0.40;
}
:-moz-placeholder {
    color: '#333843';
}
::-moz-placeholder {
    color: '#333843';
    opacity: 0.5;
}
:-ms-input-placeholder {
    color: '#333843';
}
html {
    font-size: 100%;
    height: 100%;
}
body {
    direction: ltr;
    background-color: #f6f6f6;
    color: #6f7b8a;
    font-family: 'Arial';
    font-size: 13px;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 1.5;
    font-style: normal;
    font-weight: normal;
    height: 100%;
}
body.condense-menu .header-seperation {
    display: none;
}
body.condense-menu .page-content {
    margin-left: 50px;
}
body.condense-menu .footer-widget {
    display: none;
}
body.condense-menu .scrollup {
    left: 34px;
}
body.hide-top-content-header .page-sidebar.mini .page-sidebar-wrapper > ul {
    padding: 0;
}
body.right-side-bar .page-content.condensed {
    margin-left: 0;
    margin-right: 50px;
}

p.open {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
}

.navbar, .navbar-inverse {
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0px;
}
.navbar .nav > li > .dropdown-menu::before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.navbar .nav > li > .dropdown-menu::after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}
.header-seperation {
    background-color: #ffffff;
}
.header {
    -webkit-transition: -webkit-transform 0.3s ease, left 0.3s ease, right 0.3s ease;
    transition: transform 0.3s ease, left 0.3s ease, right 0.3s ease;
    padding: 0 !important;
    margin: 0 !important;
    position: fixed;
    width: 100%;
    z-index: 999;
    min-height: 60px;
    left: 0;
}
.header .navbar-inner {
    background-image: none !important;
    background-color: #ffffff !important;
    width: 100%;
    margin: 0;
    border: 0px;
    padding: 0px;
    box-shadow: none;
    border-radius: 0px;
}
.header .nav {
    display: block;
}
.header .nav > li {
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    float: left;
}
.header .nav > li.quicklinks i {
    display: inline-block;
    margin-top: 5px;
    margin: 0;
    font-size: 14px;
    color: #656565 !important;
}
.header .nav > li.quicklinks > a {
    padding: 4px 2px !important;
    background: none;
}
.header .nav .h-seperate {
    height: 6px;
    width: 2px;
    margin: 0px 10px 0px 10px;
    border-left: 1px solid #e1e1e1;
    display: inline;
    position: relative;
    top: 2px;
}
.header .nav .dropdown-menu {
    margin-top: 8px;
    margin-right: -8px;
}
.header .header-seperation {
    width: 250px;
    display: block;
    float: left;
    height: 60px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.25);
}
.header .header-seperation .notifcation-center {
    margin-right: 15px !important;
}
.header .header-quick-nav {
    padding-right: 10px;
    height: 60px;
    -webkit-transition-duration: 1;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.25);
}
.header .notifcation-center {
    background-color: #ffffff;
    margin-top: 12px;
    margin-right: 15px !important;
    display: inline-flex;
    display: -ms-flexbox;
    direction: ltr;
}
.header .notifcation-center li {
    min-width: 30px !important;
}
.header .notifcation-center li a {
    padding: 10px !important;
    min-height: 17.5px;
}
.header a {
    text-decoration: none;
}
.header .quick-section {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    direction: ltr;
}
.menu-title {
    color: #808285;
    font-size: 10.5px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.page-sidebar {
    background-color: #323237 !important;
    height: 100%;
    font-family: 'Open Sans';
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.page-sidebar .page-sidebar-wrapper {
    position: relative;
    overflow-y: auto;
}
.page-sidebar .page-sidebar-wrapper > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.page-sidebar .page-sidebar-wrapper > ul > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
}
.page-sidebar .page-sidebar-wrapper > ul > li > a {
    color: #b2b2b2;
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 11.5px 31px 11.5px 31px;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}
.page-sidebar .page-sidebar-wrapper > ul > li > a i {
    font-size: 14px;
    margin-right: 5px;
    text-shadow: none;
}
.page-sidebar .page-sidebar-wrapper > ul > li:last-child > a {
    border-bottom: 1px solid transparent !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li a i {
    color: #b2b2b2;
    width: 20px;
    text-align: center;
    display: inline-block;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    margin: 0px;
    background-color: #3c3c41;
    padding: 8px 0px 10px 0px;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li {
    background: none;
    margin: 0px;
    padding: 0px;
    margin-top: 1px !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a {
    margin-left: 0px;
    padding-left: 5px;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px;
    padding-left: 53px !important;
    color: #e1eaf1;
    text-decoration: none;
    text-shadow: 0 1px 1px #000;
    font-size: 13px;
    font-weight: 300;
    background: none;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a:hover {
    background: #323237 !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li:first-child > a {
    border-top: 0px !important;
}
.page-sidebar ul > li > a > .arrow:before {
    float: right;
    margin-top: 1px;
    margin-right: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}
.page-sidebar .page-sidebar-wrapper > ul > li > a:hover, .page-sidebar .page-sidebar-wrapper > ul > li:hover > a {
    background: #323237;
    color: #ffffff;
}
.page-sidebar .page-sidebar-wrapper > ul > li:hover > a i {
    color: #ffffff !important;
}
.page-sidebar .page-sidebar-wrapper ul > li > a > .arrow:before {
    color: #919091 !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a:hover {
    color: #ffffff !important;
}
.mini .page-sidebar-wrapper {
    overflow: visible !important;
}
.page-sidebar.mini {
    width: 50px;
    overflow: visible !important;
    background-color: #838383 !important;
    height: 100%;
    margin-top: 0;
    position: fixed;
    z-index: 90;
}
.page-sidebar.mini .page-sidebar-wrapper > ul {
    width: 50px;
    padding: 70px 0 0;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li > ul.sub-menu {
    position: absolute;
    margin-top: -41px;
    margin-left: 50px;
    width: auto;
    z-index: 110;
    min-width: 250px;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li > a {
    padding: 13px;
    color: #ffffff;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li a i {
    color: #ffffff;
}
.page-sidebar.mini .page-sidebar-wrapper > p {
    display: none;
}
.page-sidebar.mini .page-sidebar-wrapper > .side-bar-widgets {
    display: none;
}
.page-sidebar.mini .user-info {
    display: none;
}
.page-sidebar.mini .status-widget {
    display: none;
}
.page-sidebar.mini .notification-alert {
    display: none;
}
.page-sidebar.mini ul li span.title {
    display: none;
}
.page-sidebar.mini ul li span.arrow {
    display: none;
}
.page-sidebar.mini ul li span.badge {
    display: none;
}
.page-sidebar.mini ul li ul li span.title {
    display: inline;
}
.page-sidebar.mini ul li ul li span.arrow {
    display: inline;
}
.page-sidebar.mini ul.big-items span.badge {
    display: inline-block;
}
.page-sidebar.mini ul.small-items span.badge {
    display: inline-block;
}
.page-sidebar.mini .profile-wrapper {
    display: none;
}
.page-sidebar.mini .footer-widget {
    visibility: hidden;
    width: 0px;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li a > .label {
    display: none;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li.open > a, .page-sidebar.mini .page-sidebar-wrapper > ul > li > a:hover, .page-sidebar.mini .page-sidebar-wrapper > ul > li:hover > a {
    background: #555555;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li > a:hover, .page-sidebar.mini .page-sidebar-wrapper > ul > li:hover > a {
    background: #555555;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li.active > a i, .page-sidebar .page-sidebar-wrapper > ul > li:hover > a i {
    color: #ffffff !important;
}
.page-sidebar.mini-mobile .side-bar-widgets {
    display: none;
}
.page-sidebar.mini-mobile {
    width: 260px;
}
.header .nav > li.dropdown, .header .nav > li.dropdown > a {
    text-align: center;
}
.open {
    position: relative;
}
.pace .pace-activity {
    top: 72px;
    border-top-color: #00bc9a;
    border-left-color: #00bc9a;
    right: 15px;
    left: auto;
}
.pace .pace-progress {
    background: #00bc9a;
    right: auto;
    left: 0;
}
.pace .pace-progress-inner {
    box-shadow: 0 0 10px #00bc9a, 0 0 5px #00bc9a;
}
.page-container {
    -webkit-transition: -webkit-transform 0.3s ease, left 0.3s ease, right 0.3s ease;
    transition: transform 0.3s ease, left 0.3s ease, right 0.3s ease;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 100%;
    left: 0;
    z-index: 10;
}
.footer-widget {
    position: fixed;
    bottom: 0px;
    left: 0;
    padding: 11px 21px;
    background-color: #2c2c2f;
    width: 250px;
    clear: both;
    -webkit-transition: -webkit-width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}
.footer-widget a {
    color: #b2b2b2;
}
.footer-widget i {
    font-size: 14px;
    color: #5e646d;
}
.footer-widget a:hover, .footer-widget a:hover i {
    color: #8B91A0;
    text-decoration: none;
}
.page-content {
    margin-top: 0px;
    padding: 0px;
    background-color: #f6f6f6;
    overflow: auto;
    position: relative;
    min-height: 100%;
    -webkit-transition: -webkit-all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 6;
}
.page-content .content {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 83px;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
h1, h3, h4, h5 {
    margin: 10px 0;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #505458;
}
h1 {
    line-height: 43px;
}
h3 {
    line-height: 30px;
}
h4 {
    line-height: 22px;
}
a {
    text-shadow: none !important;
    color: #00bc9a;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.1s linear 0s !important;
}
a:hover, a:focus {
    color: #0BAF91;
}
a, a:focus, a:hover, a:active {
    outline: 0;
    text-decoration: none;
}
i {
    font-size: 14px;
}
label {
    display: block;
    margin-bottom: 5px;
}
ul > li {
    padding-left: 6px;
    line-height: 20px;
}
.semi-bold {
    font-weight: 600;
}
.text-success {
    color: #00bc9a !important;
}
.text-info {
    color: #37b0e9 !important;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #E0DFDF;
    border-bottom: 1px solid #FEFEFE;
}
.iconset {
    background: url('../img/icon/top-tray-b.png') no-repeat;
    position: relative;
    top: 1px;
}
.iconset.top-menu-toggle-dark {
    background-position: -288px -7px;
    width: 18px;
    height: 15px;
}
.sm-gutter [class^="col-"], .sm-gutter [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
.sm-gutter .row {
    margin-right: -5px;
    margin-left: -5px;
}
.editable p {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-weight: normal!important;
}
label, input, button, .editable, .editable p, .editable:after, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
input, button, .editable, .editable p, .editable:after, textarea {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.editable, textarea, input[type="text"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none !important;
    color: #282323;
    outline: 0;
    padding: 6px 11px !important;
    line-height: 15px;
    font-size: 13px;
    font-weight: normal;
    vertical-align: top;
    background-color: #ffffff;
    min-height: 37px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e5e9ec;
    transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
textarea, input[type="text"] {
    height: 16px;
}
input {
    border: 1px solid #cecece;
}
textarea {
    height: auto;
    padding-left: 12px !important;
    padding-top: 10px !important;
}
.editable:focus, textarea:focus, input[type="text"]:focus {
    border-color: #f1f1f1;
    background-color: #f4f5f7;
    outline: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.input-lg {
    border-radius: 3px !important;
    font-size: 18px !important;
    height: 45px !important;
    line-height: 1.33 !important;
}
.editable {
    min-height: 120px;
}
.radio.radio-info label input[type=radio]:checked +:before {
    border: 1px solid #1f3853;
}
form {
    margin: 0;
}
.column-seperation > div[class*="col-"] {
    border-right: 1px solid #ddd;
}
.column-seperation > div[class*="col-"]:last-child {
    border-right: 0px;
}
.wizard-steps {
    display: block;
    list-style: none outside none;
    padding: 0;
    position: relative;
    width: 100%;
}
.wizard-steps li {
    display: block;
    float: left;
    max-width: 25%;
    min-width: 25%;
    text-align: center;
    padding-left: 0;
}
.wizard-steps li.disabled {
    pointer-events: none;
    cursor: default;
}
.wizard-steps li:before {
    border-top: 6px solid #55606E;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 10px;
    right: 1px;
    width: 100%;
    z-index: 1;
}
.wizard-steps li:first-child:before {
    left: 50%;
    max-width: 50%;
}
.wizard-steps li:last-child:before {
    max-width: 50%;
    width: 50%;
}
.wizard-steps li .step {
    background-color: #e7e7e7;
    border-radius: 32px 32px 32px 32px;
    color: #ffffff;
    display: inline;
    font-size: 15px;
    font-weight: bold;
    line-height: 12px;
    padding: 4px 9px;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all 0.2s linear 0s;
}
.wizard-steps li .title {
    color: #B1BCC5;
    display: block;
    font-size: 13px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 40;
}
.wizard-steps a:hover, .wizard-steps a:active, .wizard-steps a:focus {
    text-decoration: none;
}
.wizard-steps li.active .step {
    background-color: #01BC9A;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
}
.wizard-steps li.active .title {
    color: #2B3D53;
}
.wizard-actions {
    display: block;
    list-style: none outside none;
    padding: 0;
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.wizard-actions li {
    display: inline;
}
li.previous {
    padding-left: 0;
}
.tab-content {
    overflow: auto;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 18px;
}
.tab-content.transparent {
    background-color: transparent;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    border: 1px solid #E5E9EC;
    font-size: 13px;
}
.select2-container .select2-choice {
    background-image: none;
    border-radius: 2px;
    border: 1px solid #e5e9ec;
    padding: 3px 9px;
    transition: border 0.2s linear 0s;
    height: 35px;
}
div.has-error ul.select2-choices {
    border-color: #a94442!important;
}
.select2-container .select2-choice .select2-arrow {
    background: transparent;
    border-left: 0px;
}
.select2-container .select2-choice .select2-arrow b {
    background: none;
}
.select2-container .select2-choice .select2-arrow b:before {
    font-family: 'FontAwesome';
    content: "\f0d7";
    position: relative;
    top: 2px;
    right: 5px;
    font-size: 12px;
}
.select2-container.select2-drop-above .select2-choice {
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    background-image: none;
    border: 1px solid #e5e9ec;
    background: #f4f5f7;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
}
.select2-drop.select2-drop-above {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid #e5e9ec;
    border-bottom: none;
    border-radius: 2px;
    padding-top: 0px;
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    box-shadow: none;
    border: 1px solid #e5e9ec;
    background: #f4f5f7;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.select2-search {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
}
.select2-search input {
    background: #ffffff !important;
    vertical-align: baseline;
    line-height: 28px;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    border: 1px solid #999999;
}
.select2-results {
    margin: 3px 10px 10px 3px;
}
.select2-results li {
    color: #6F7B8A;
}
.select2-results li.select2-result-with-children > .select2-result-label {
    color: #282323;
}
.select2-results .select2-highlighted {
    background: #37b0e9;
    border-radius: 3px;
}
.select2-results .select2-highlighted .select2-result-label {
    color: #ffffff;
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: none;
    color: #6F7B8A;
    font-size: 12px;
    padding-left: 8px;
    padding-top: 0px;
    position: relative;
    top: -5px;
}
.select2-drop-active {
    border: 1px solid #e5e9ec;
    border-bottom: none;
    border-top: none;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-top: 5px;
}
.select2-container-multi .select2-choices {
    background-image: none;
    border: 1px solid #dae0e4;
    border-radius: 2px;
    height: 40px!important;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background-color: #e8edf1;
    background-image: none;
    border: none;
    box-shadow: none;
    color: inherit;
    border-radius: 8px;
    margin: 8px -5px 7px 10px;
    padding: 4px 8px 4px 21px;
    direction: ltr;
}
.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #dae0e4;
    box-shadow: none;
}
.select2-container-multi.select2-container-active .select2-search-choice {
    background-color: #ffffff !important;
}
.select2-container-multi .select2-search-choice-close {
    left: 6px;
    background-image: none!important;
}
.select2-search-choice-close {
    background: none;
    top: 12px;
    right: 0;
}
.select2-search-choice-close:hover {
    text-decoration: none;
}
.select2-search-choice-close:before {
    font-family: 'FontAwesome';
    content: "\f00d";
    font-size: 12px;
    color: #94a1b2;
}
.select2-drop-multi .select2-results .select2-no-results, .select2-drop-multi .select2-results .select2-searching, .select2-drop-multi .select2-results .select2-selection-limit {
    top: 0px;
}
.select2.form-control {
    padding: 0;
    box-shadow: none;
    border: 0;
}
.input-group-addon {
    border: 1px solid #E5E9EC;
    color: #9EA9B2;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 3px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
}
.input-group-addon.primary {
    background-color: #0aa699;
    border: 1px solid #0aa699;
    color: #ffffff;
}
.input-group-addon.success {
    background-color: #0090d9;
    border: 1px solid #0090d9;
    color: #ffffff;
}
.input-group-addon i {
    position: relative;
    top: 1px;
}
.input-group .form-control:last-child {
    border-left: 0;
}
.grid {
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
}
.grid.simple {
    padding: 0px !important;
}
.grid.simple .grid-title {
    padding: 14px 15px 7px 15px;
    border-bottom: 1px solid #eee;
    color: #282323 !important;
    background-color: #ffffff;
    margin-bottom: 0px;
    border: 1px solid #dddddd;
    border-bottom: 0px;
}
.grid.simple .grid-title .tools {
    margin-top: 0px;
    position: relative;
}
.grid.simple .grid-title.no-border {
    border: 0px;
    border-bottom: 0px;
}
.grid.simple .grid-body {
    background-color: #ffffff;
    padding: 26px;
    border: 1px solid #dddddd;
    color: #6f7b8a;
}
.grid.simple .grid-body.no-border {
    border: 0px;
    padding-top: 1px;
}
.grid.simple .grid-body h4 {
    color: #282323;
}
.grid.simple .grid-body h3 {
    color: #282323;
}
.grid:after, .grid:before {
    display: table;
}
.grid-title {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.grid-title h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.grid-title .tools > a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
}
.grid-title .tools > a:hover {
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: .6;
}
.grid-title .tools {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    float: right;
}
.grid-body {
    padding: 0;
}
.grid-body:before {
    display: table;
    content: " ";
}
.grid-body:after {
    clear: both;
    display: table;
    content: " ";
}
.grid.simple .grid-title .tools a {
    position: relative;
    background: url('../img/icon/portlet-tray.png') no-repeat;
    transition: all 0.1s linear 0s;
}
.grid.simple .grid-title .tools > a.config {
    background-position: -3px -32px;
    width: 22px;
    height: 22px;
}
.grid.simple .grid-title .tools > a.collapse {
    background-position: -95px -40px;
    width: 9px;
    height: 7px;
    top: -5px;
}

.grid.simple .grid-title .tools > a.expand {
    background-position: -123px -40px;
    width: 10px;
    height: 6px;
    top: -5px;
}

.label {
    padding: 3px 9px;
    font-size: 11px;
    text-shadow: none;
    background-color: #e7e7e7;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #5E5E5E;
    line-height: 25px;
}
.label-success {
    background-color: #00bc9a;
    color: #ffffff;
}
.label-warning {
    background-color: #fdd01c;
    color: #ffffff;
}
.label-important {
    background-color: #f35958;
    color: #ffffff;
}
.label-info {
    background-color: #37b0e9;
    color: #ffffff;
}
.label-inverse {
    background-color: #1f3853;
    color: #ffffff;
}
.modal {
    border-radius: 3px;
}
.modal-header {
    text-align: center;
}
.modal-content {
    border: 0;
}
.modal-footer {
    border-top: none;
    box-shadow: none;
    background-color: #F3F5F6;
    margin-top: 0;
    text-align: right;
    border-radius: 3px;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.btn {
    display: inline-block;
    padding: 9px 12px;
    padding-top: 7px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #e7e7e7;
    -webkit-border-radius: 3px;
    background-image: none !important;
    border: none;
    text-shadow: none;
    box-shadow: none;
    transition: all 0.12s linear 0s !important;
    font: 14px/20px"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn:focus {
    outline: none;
}
.btn:hover, .btn:focus, .btn:active {
    background-color: #b9c3c8;
}
.btn-primary {
    color: #ffffff;
    background-color: #00bc9a;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #00b38d;
}
.btn-success {
    color: #ffffff;
    background-color: #37b0e9;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #30a6e6;
}
.btn-info {
    color: #ffffff;
    background-color: #1f3853;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
    background-color: #1b3148;
}
.btn-danger {
    color: #ffffff;
    background-color: #f35958;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background-color: #f14d4d;
}
.btn-warning {
    color: #ffffff;
    background-color: #fbb05e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #faa652;
}

.btn-white {
    color: #5e5e5e;
    background-color: #ffffff;
    border: 1px solid #e5e9ec;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
    background-color: #fbfcfd;
    border: 1px solid #b4b9be;
}
.btn-small {
    padding: 3px 12px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-table {
    padding: 5px 8px;
    font-size: 13px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    -webkit-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.2);
    -moz-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.2);
    box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.2);
    border: none;
    border-radius: 3px;
    padding: 0px;
    font-size: 13px;
}
.dropdown-menu .divider {
    background-color: #eaedf0;
    height: 1px;
    margin: 3px 0;
    border-bottom: 0px;
}
.dropdown-menu > li > a {
    line-height: 25px;
    color: #2a2e36;
    margin: 4px;
    border-radius: 3px;
    text-align: left;
}
.dropdown-menu li {
    padding-left: 0px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #1b1e24;
    text-decoration: none;
    background-color: #eff2f3;
    background-image: none;
}
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active {
    z-index: 0;
}
.tab-content > .tab-pane {
    display: none;
    padding: 15px;
}
.tab-content > .active {
    display: block;
    padding: 19px;
}
.nav-tabs {
    margin-bottom: 0px;
    background-color: #e7e7e7;
    padding: 0;
}
.nav-tabs > li {
    margin-bottom: -3px;
    padding-left: 0;
}
.nav-tabs > li > a {
    border-radius: 0;
    border: 0px;
    padding: 15px 20px;
    color: #8e9aa2;
    min-width: 70px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-width: 0px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    border: 0px;
    color: #505458;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: #505458;
}
.nav-tabs > li > a {
    margin-right: 0px;
}
.table > thead > tr > th {
    border-bottom: 0px;
}
.table th {
    border-top: 1px solid #e8edf1;
    padding: 10px 12px;
    font-size: 12px;
    text-transform: uppercase;
}
.table td {
    border-top: 1px solid #e8edf1;
    vertical-align: top;
    padding: 10px 12px !important;
    color: #576475;
    font-size: 13px;
}
.table td:first-child {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table td:last-child {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
th {
    text-align: left;
}
.table > thead > tr > th, .table > tbody > tr > td {
    padding: 12px;
}
.table > tbody > tr > td {
    border-top: 1px solid #f1f1f1;
}
.table-hover tbody tr:hover > td {
    background-color: #edecec;
}
@media only screen and (min-width: 1824px) {
    body {
        height: 100%;
    }
    .page-container {
        height: 100%;
    }
    .footer-widget {
        position: fixed;
    }
    .table th {
        font-size: 14px;
    }
    .table td {
        font-size: 14px;
    }
}
@media (min-width: 980px) {
    .header .header-seperation {
        display: none!important;
    }
    .page-sidebar {
        display: inline-block;
        float: left;
        position: fixed;
        width: 250px;
        margin-top: 58px;
        padding-bottom: 105px;
    }
    .page-sidebar .page-sidebar-wrapper {
        display: inline-block;
        float: left;
        height: 100%;
        max-width: 250px;
        width: 100%;
    }
    .page-sidebar ul {
        width: 250px;
    }
    .page-content {
        margin-left: 250px;
        min-height: 100%;
    }
    .page-content.condensed {
        margin-left: 50px;
    }
    .page-content.condensed .admin-bar-inner {
        margin-right: 50px !important;
    }
    .page-content.condensed-layout {
        margin-left: 50px !important;
    }
}
@media (max-width: 979px) {
    body {
        margin: 0px !important;
    }
    .header {
        margin: 0 !important;
    }
    .header .nav {
        margin-bottom: 0px !important;
    }
    body.open-menu-left .header {
        -webkit-transform: translate3d(260px, 0, 0);
        transform: translate3d(260px, 0, 0);
    }
    body.open-menu-left .page-content {
        -webkit-transform: translate3d(260px, 0, 0);
        transform: translate3d(260px, 0, 0);
    }
    .page-container {
        overflow-x: hidden;
        margin: 0 !important;
        padding: 0 !important;
    }
    .page-content {
        margin-top: 0;
    }
    body.condense-menu .page-content {
        margin-left: 0;
        background-color: #f6f6f6!important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    body.condense-menu .page-content {
        margin-left: 50px;
    }
    a#layout-condensed-toggle {
        display: none;
    }
    body {
        background-color: #838383;
        padding-top: 0px;
    }
    .header-seperation {
        display: none !important;
    }
    .page-sidebar {
        position: absolute;
        width: 50px;
        margin: 0;
        overflow: visible;
        z-index: 90;
    }
    .page-sidebar .page-sidebar-wrapper {
        overflow: visible !important;
    }
    .page-sidebar .page-sidebar-wrapper > ul {
        width: 50px;
        margin: 0;
        padding-top: 3px;
    }
    .page-sidebar .page-sidebar-wrapper > ul > li > a {
        padding: 13px;
        color: #fff;
    }
    .page-sidebar .page-sidebar-wrapper > ul > li a i {
        color: #fff;
    }
    .page-sidebar .page-sidebar-wrapper > ul li span.title {
        display: none;
    }
    .page-sidebar .page-sidebar-wrapper > ul li span.arrow {
        display: none;
    }
    .page-sidebar {
        background-color: #838383 !important;
    }
    .page-sidebar .page-sidebar-wrapper > ul > li > a:hover, .page-sidebar .page-sidebar-wrapper > ul > li:hover > a {
        background: #555555;
    }
    .page-sidebar .page-sidebar-wrapper > ul > li > a:hover, .page-sidebar .page-sidebar-wrapper > ul > li:hover > a {
        padding: 13px;
    }
    .page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu {
        position: absolute;
        margin-top: -41px;
        margin-left: 50px;
        width: auto;
        z-index: 100;
        min-width: 250px;
    }
    .scrollbar-dynamic > .scroll-element.scroll-x {
        display: none;
    }
    .footer-widget {
        display: none !important;
    }
    .page-content {
        margin-left: 50px;
        margin-top: 0px;
        min-height: 100%;
    }
    .page-content .content {
        padding-top: 95px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    body {
        background-color: #1b1e24;
    }
    .page-sidebar .page-sidebar-wrapper {
        display: inline-block;
        float: left;
        width: 250px;
        height: 100%;
    }
    .header-seperation {
        width: 100% !important;
        display: block !important;
        position: fixed;
        z-index: 999;
        text-align: center;
    }
    .header-quick-nav {
        display: none;
    }
    .header .notifcation-center {
        margin-left: 15px;
    }
    .page-content .content {
        padding-top: 95px;
    }
    .page-sidebar {
        position: fixed;
        width: 260px;
        background-color: #1b1e24 !important;
        z-index: auto;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
        transition: visibility 0s linear 0.5s, opacity 0.5s linear;
        overflow-y: hidden;
    }
    .page-sidebar .page-sidebar-wrapper > ul li span.title {
        display: inline-block;
    }
    .page-sidebar .page-sidebar-wrapper > ul li span.arrow {
        display: inline-block;
        float: right;
    }
    .page-sidebar .page-sidebar-wrapper > ul {
        width: 260px;
        padding-top: 0px !important;
    }
    .footer-widget {
        display: block;
    }
    .page-sidebar .page-sidebar-wrapper > ul > li > a {
        padding: 11.5px 31px 11.5px 31px;
        color: #8B91A0;
    }
    .page-sidebar .page-sidebar-wrapper > ul > li > a:hover, .page-sidebar .page-sidebar-wrapper > ul > li:hover > a {
        background: #1b1e24;
    }
    .page-sidebar .page-sidebar-wrapper > ul > li > a:hover, .page-sidebar .page-sidebar-wrapper > ul > li:hover > a {
        padding: 11.5px 31px 11.5px 31px;
    }
    .page-sidebar .page-sidebar-wrapper > ul > li > a i {
        color: #8B91A0;
    }
    .page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu {
        position: relative;
        margin: 0px;
    }
    .page-sidebar {
        -webkit-overflow-scrolling: touch;
    }
    .page-content {
        margin: 0px;
    }
    .page-content .content {
        padding: 25px;
        padding-top: 95px;
    }
    .column-seperation > div[class*="col-"] {
        border-right: none;
    }
}
@media (max-width: 767px) {
    .page-sidebar .page-sidebar-wrapper {
        display: inline-block;
        float: left;
        width: 260px!important;
        height: 100%;
    }
    body.open-menu-left .page-sidebar {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
    }
    .header-seperation {
        width: 100% !important;
        z-index: 999;
        text-align: center;
        min-height: 60px;
        display: block !important;
    }
    .header .notifcation-center {
        margin-left: 15px;
    }
    .header-quick-nav {
        display: none;
    }
    .page-sidebar {
        position: fixed;
        z-index: auto;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
        transition: visibility 0s linear 0.5s, opacity 0.5s linear;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-backface-visibility: hidden;
    }
    .page-sidebar.visible {
        display: block;
    }
    .page-content .content {
        padding: 8px;
        padding-top: 95px;
    }
    .footer-widget {
        display: none;
    }
}
@media (max-width: 480px) {
    .page-content .content {
        padding: 8px;
        padding-top: 93px;
        overflow-x: hidden;
    }
    .row-fluid {
        margin-bottom: 10px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2) {
    .grid.simple .grid-title .tools a {
        background: url('../img/icon/portlet-tray-2x.png');
        background-size: 199px 57px;
    }
    .iconset {
        background: url('../img/icon/top-tray-bx2.png') no-repeat;
        background-size: 394px 29px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .select2-search-choice-close {
        background-image: none;
        background-repeat: no-repeat !important;
        background-size: none !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .page-sidebar {
        display: none;
    }
}
@media (max-width: 767px) {
    .page-sidebar {
        display: none;
    }
}
/* Animation */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
/* PACE Loader */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #0aa699;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #0aa699, 0 0 5px #0aa699;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}
.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #0aa699;
    border-left-color: #0aa699;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}
@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* Messenger */

.messenger-message-inner {
    text-shadow: none;
    font-family: 'Open Sans';
    font-size: 14px;
}
