{% extends 'admin-base.html' %}
{% block content %}
    <div class="card fadeInUp hide">
        <div class="title group">
            <h3 class="light left">{{_("All <b>Categories</b>")}}</h3>
            <a class="btn btn-small btn-blue btn-outline right" href="{{url_for('admin.posts')}}">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{_("Return")}}
            </a>
        </div>
        <div class="units-row">
            <div class="unit-50">
                {% if categories %}
                    <h2 class="light">{{_("Edit <b>Categories</b>")}}</h2><br>
                    <p>{{_("Pick a category from the list to edit or delete it.")}}</p>
                    {% set labels = ['','-black', '-blue', '-red','-yellow','-green'] %}
                    {% for category in categories%}
                        <a href="{{ url_for('admin.edit_category', cat_id=category.key.id())}}">
                            <span class="label label-outline label{{labels|random()}}">{{category.name}}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="unit-50">
                <form id="edit" method="post">
                    <h2 class="light">{{_("Add <b>Categories</b>")}}</h2><br>
                    <p>{{_("<span class='text-info'>Search for existing categories or write a new one and <b>press enter</b></span>. Please try <b>not to duplicate</b> categories.")}}</p>
                    <input type="text" id="categories" name="categories" class="form-control">
                    <br>
                    <br>
                    <button class="btn btn-small btn-blue btn-outline" type="submit">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;{{_("Add Category")}}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{url_for('admin.static', filename='dist/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('admin.static', filename='dist/select2/select2.min.js')}}"></script>
<script type="application/javascript">
$('#categories').select2({
    tags:[{% for category in categories%}{{category.name|tojson}}{% if not loop.last%},{% endif %}{% endfor %}],
    tokenSeparators: [",","."],
    matcher: function(term, text) {
        return text.toUpperCase().indexOf(term.toUpperCase())==0;
    }
});
</script>
{% endblock %}